LANGFUSE_SECRET_KEY="Your Secret Key"
LANGFUSE_PUBLIC_KEY="Your Public Key"
LANGFUSE_HOST="Langfuse Server URL"

LOCAL_SERVER_1="Your OpenAI compatible server URL"
LOCAL_API_KEY="Your API key"
LOCAL_MODEL="Name of your model"

VALID_API_KEYS="comma-separated custom API keys"
AVAILABLE_MODELS="model_name:provider"

